/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --bg_main: #0d0d0c;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
  --blue: #1687de;
  --pink:#ebc9f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

button {
  cursor: pointer;
}
 
input {
  -webkit-appearance: none;
}
 
button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

body {
  font: 1rem "Roboto", sans-serif;
  color: var(--text_dark);
}

/* SECTION #1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main {
  color: var(--text_light);
  height: 50vh;
  background-color: var(--bg_main);
  padding: 70px;  
}

.heading {
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: 0.02em;
  padding: 0 0 30px 0;
}

.main form {
  position: relative;
  display: flex;
  align-items: center;
}

.main form input {
  font-size: 2rem;
  height: 40px;
  padding: 5px 5px 10px;
  border-bottom: 1px solid;
}

.top-banner form input::placeholder {
  color: currentColor; 
}

.main form button {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  background: var(--blue);
  transition: background 0.3s ease-in-out;
}

.main form .msg {
  position: absolute;
  bottom: -40px;
  left: 0;
  max-width: 450px;
  min-height: 40px;
}


/* SECTION #2
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.ajax {
  margin: 70px 0 20px;
  padding: 30px;
}

.ajax .cities {
  display: grid;
  grid-gap: 32px 20px;
  grid-template-columns: repeat(4, 1fr);
}

.ajax .city {
  position: relative;
  padding: 50px 25%;
  border-radius: 20px;
  background: var(--pink);
  color: var(--text_light);
  opacity: 0.8;
}

.ajax .city::after {
  content: '';
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 5%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 20px;
  background: var(--text_light);
}

.ajax figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.ajax .city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text_light);
}

.ajax .city sup {
  font-size: 0.7em;
}

.ajax .city-name span{
  font-size: 1.5em;
}

.ajax .city-name sup {
  padding: 0.3em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--orange);
}

.ajax .city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1000px) {
  
  .ajax .cities {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .heading,
  .ajax .city-temp {
    font-size: 3rem;
  }
  
  .ajax {
    margin-top: 20px;
  }
  .main{
    padding: 40px;
    height: 50vh;
  }
  
  .main form {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .main form input,
  .main form button {
    width: 100%;
  }

  .main form button {
    margin: 20px 0 0 0;
  }
  
  .main form .msg {
    position: static;
    max-width: none;
    min-height: 0;
    margin-top: 10px;
  }

  .ajax .cities {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  
  .main{
    padding: 40px;
    height: 60vh;
  }

  .ajax .cities {
    grid-template-columns: repeat(1, 1fr);
  }
}